*{
  margin:0;
  padding:0;
}
body{
 background:#79282E;
}
br{
  display:none;
}
.content{
  margin-left:15%;
  width:70%;
  height:80%;
  border:2px solid #232323;
  background-image:url('../images/background.png');
  border-bottom-right-radius:21px;
  border-bottom-left-radius:21px;
}
.navigation{
  margin-left:20%;
  width:60%;
  height:10%;
  background:#232323;
  border-bottom-right-radius:21px;
  border-bottom-left-radius:21px;
}
.navigation h2{
  font-family:"Lucida Console", Monaco, monospace;
  line-height:3.5;
  font-size:15px;
  text-transform:uppercase;
  color:gray;
  margin-left:7%;
  display:inline-block;
}
.navigation h2:hover{
  color:darkgray;
  transform:scale(1.1);
  cursor:pointer;
  transition:0.7s;

}
@media only screen and (max-width:450px){
  .content{
    background:url('../images/mobile_background.jpg');
     background-size: attributume;
    margin-left:0%;
    width:100%;
    height:100%;
    border:none;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
  }
 .navigation{
   margin-left:10%;
   width:80%;
   height:35%;
   text-align:center;
 }
 .navigation h2{
 font-size:18px;
 line-height:2.5;
 }
 br{
   display:initial;
 }
}
