 *{
  margin:0;
  padding:0;
 }
 body{
  background: linear-gradient(rgba(0,0,50,0.4) , rgba(0,0,50,0.4)),url(../images/sencu.jpg);
  background-attachment:fixed;
  background-size:cover;
  height:120%;
 }
 hr{
  width:70%;
  margin-left:15%;
 }
 .menu{
  line-height:2.0;
  float:left;
  height:100%;
  width:15%;
  position:fixed;
 }
 .menu h2{
  text-align:center;
  font-size:21px;
  color:#f9f9f9;
  font-family:"Lucida Console", Monaco, monospace;
  transition: transform .7s;
 }
 .menu a{
  text-decoration:none;
 }
 .menu h2:hover{
  transform: scale(1.2);
  color:gray;
 }
 .passive{
  margin-top:25%;
  margin-left:10%;
  width:20%;
 }
 .c{
  font-size:12px;
  font-family:'Montserrat',sans-serif;
  margin-top:1%;
  text-align:center;
  text-transform: uppercase;
  color:gray;
 }
 .active{
  border:2px solid gray;
  margin-top:25%;
  margin-left:10%;
  width:20%;
 }
 .m{
  margin-top:65%;
 }
 .main{
  float:right;
  width:100%;
  height:100%;
 }
 .main h1{
  font-family:'Montserrat',sans-serif;
  color:white;
  font-size:64px;
  text-transform: uppercase;
 }
 .main iframe{
 margin-top:2%;
 margin-left:45%;
 }
 .s{
  margin-top:15%;
  margin-left:35%;
 }
 .k{
  margin-left:45%;
 }
 .main hr{
  margin-left:35%;
  width:30%;
 }
 .d{
  text-transform: lowercase;
  font-family:sans-serif;
  margin-top:1%;
  text-align:center;
  font-size:18px;
  color:darkgray;
 }
 .reviews{
 float:right;
 width:100%;
 height:110%;
 }
 .reviews iframe{
 margin-top:5%;
 margin-left:20%;
 display: inline-block:
 }
 .wh{
 float:right;
 width:100%;
 height:50%;
 }
 table{
 width:65%;
 margin:auto;
 margin-left:25%;
 text-align:center;
 table-layout:fixed;
 }
  table , tr , th , td {
  padding:20px;
  color:white;
  border:1px solid gray;
  border-collapse:collapse;
  font-size:18px;
  font-family:Monotype Corsiva, Times, Serif;
  cursor:pointer;
 }
 .food{
 float:right;
 height:130%;
 width:100%;
 }
 .food img{
 margin-top:-3%;
 width:25%;
 height:auto;
 margin-left:25%;
 border-radius:21px;
 }
 .food h1{
 margin-top:5%;
 margin-left:55%;
 color:white;
 font-size:42px;
 color:#f9f9f9; 
 font-family:"Lucida Console", Monaco, monospace;
 }
 .food h2{
 margin-top:-5%;
 margin-left:55%;
 color:white;
 font-size:48px;
 }
 .gallery{
 float:left;
 height:50%;
 width:100%;
 }
 .img{
text-align:right;
margin:10px 50px;
}
.img img{
width:230px;
padding:5px;
filter:grayscale(100%);
transition:1s;
}
.img img:hover{
filter:grayscale(0);
transform:scale(1.1);
}
 nav{
  display:none;
 }
 input{
  display:none;
 }
 label{
  display:none;
 }
 .dwh{
 display:initial;
 }
 .mwh{
 display:none;
 }
 @media only screen and (max-width:700px){
.gallery{
 height:110%;
 }
 .dwh{
 display:none;
 }
 .mwh{
 display:initial;
 }
 .mwh{
 width:80%;
 }
 .menu{
 display:none;
 }
 .main{
 height:90%;
 }
 nav{
 display:initial;
 }
 input{
  display:initial;
 }
 label{
  display:initial;
 }
 nav { 
  margin-top:10%;
  width: 100%; 
  text-align: center;
 }
 .food{
 height:100%;
 }
 .food img{
 margin-left:15%; 
 }
 .food img:hover{
 transition:1.0s;
 transform:scale(2.5);
 }
 .food h1{
 font-size:32px;
 margin-left:45%;
  }
 .food h2{
 font-size:42px;
 margin-left:50%;
 }
  body{
  background: linear-gradient(rgba(0,0,50,0.4) , rgba(0,0,50,0.4)),url(../images/sencu.jpg);
  background-attachment:fixed;
  height:120%;
 }
  .reviews{
 float:right;
 width:100%;
 height:245%;
 }
 .reviews iframe{
 margin-left:5%;
 }
 .navy {
  text-decoration:none;
  display: block; 
  padding: 15px 0;
  border-bottom: 1px solid white;
  font-family:"Lucida Console", Monaco, monospace;
  color:white;
 }
 nav a:hover {
  background: black;
  color: #fff;
 }
 .s{
  margin-left:20%;	 
 }
 .k{
  margin-left:35%;
 }
 .main iframe{
  margin-left:45%;
 }
 .navigation {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -240px;
  background: linear-gradient(rgba(0,0,50,0.4) , rgba(0,0,50,0.4)),url(../images/sencu.jpg);
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
 }
 .navigation-icon {
  padding: 10px 20px;
  color: #f9f9f9;
  cursor: pointer;
  margin-top: 4px;
 }
 .navigation-icon:hover {
  padding: 10px 20px;
  color: £f9f9f9;
  cursor: pointer;
  float: left;
  margin-top: 4px;
 }
 #navigation { 
  display: none;
 }
 #navigation:checked ~ .navigation { 
  position: absolute; 
  left: 0;
}
 }
