*{
	margin:0;
	padding:0;
}
body{
}
hr{
	width:70%;
	margin-left:15%;
}
.menu{
	line-height:2.0;
	float:left;
	height:100%;
	width:15%;
	position:fixed;
	background:#222;
}
.menu h2{
	text-align:center;
	font-size:21px;
	color:#f9f9f9;
	font-family:'Montserrat',sans-serif;
	transition: transform .7s;
}
.menu a{
	text-decoration:none;
}
.menu h2:hover{
	transform: scale(1.2);
	color:gray;
}
.menu img{
	margin-top:25%;
	margin-left:10%;
	width:20%;
}
.menu h5{
	font-size:12px;
	font-family:'Montserrat',sans-serif;
	margin-top:1%;
	text-align:center;
	text-transform: uppercase;
	color:gray;
}
.active{
	border:2px solid gray;
}
.m{
	margin-top:60%;
}
.main{
	float:right;
	width:100%;
	height:100%;
	background: linear-gradient(rgba(0,0,50,0.5) , rgba(0,0,50,0.5)),url(https://scontent.frix1-1.fna.fbcdn.net/v/t1.0-9/13770534_1719375068327602_2857761758587336686_n.jpg?_nc_cat=0&oh=57fc70e9a17b1b9270fee425d022965a&oe=5C34328B);
	background-attachment:fixed;
	background-size:cover;
	background-position: center;
}
.main h1{
	font-family:'Montserrat',sans-serif;
	color:white;
	font-size:64px;
	text-transform: uppercase;
}
.main iframe{
	margin-left:50%;
	
}
.s{
	margin-top:15%;
	margin-left:35%;
}
.k{
	margin-left:45%;
}
nav{
	display:none;
}
input{
	display:none;
}
label{
	display:none;
}

@media only screen and (max-width:900px){
	.menu{
		display:none;
	}
	nav{
	display: initial;
}
input{
	display: initial;
}
label{
	display: initial;
}
	nav { 
	margin-top:10%;
width: 100%; 
text-align: center;
 }
nav a { 
display: block; 
padding: 15px 0;
border-bottom: 1px solid black;
color: black;
}
nav a:hover {
background: black;
color: #fff;
 }
.navigation {
width: 240px;
height: 100%;
position: absolute;
background:#F9F9F9;
left: -240px;
transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
	
}
.navigation-icon {
	padding: 10px 20px;
	color: black;
	cursor: pointer;
	float: left;
	margin-top: 4px;
}
.navigation-icon:hover {
	padding: 10px 20px;
	color: grey;
	cursor: pointer;
	float: left;
	margin-top: 4px;
}
.navigation img{
	height:75px;
	width:auto;
}
#navigation { 
display: none;
 }
#navigation:checked ~ .navigation { 
position: absolute; 
left: 0;
 }
}